.contact {
  margin-top: 60px;
}

.content {
  padding: 30px 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: #d4d4d4;

  @media(min-width: 960px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.trainerName {
  margin-top: 0;
  font-weight: 700;
  font-size: 22px;

  @media(min-width: 720px) {
    font-size: 32px;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.infoRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #312D2D;
  margin-bottom: 12px;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, .30);
  word-break: break-word;
  font-size: 12px;

  &:last-child {
    margin-bottom: 0; 
  }

  @media(min-width: 720px) {
    font-size: 16px;
  }
}

.clickableRow {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  padding-right: 40px;

  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
    color: #d4d4d4;
  }

  &:hover {
    color: #e4d9d9;
    background-color: #3e3a3a;
  }

  @media(min-width: 720px) {
    padding-right: 50px;
  }
}

.rowTextContent {
  user-select: all;
  line-height: 20px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.placeInfo {
  font-weight: normal;
  font-size: 16px;
}

.icon {
  width: 40px;
  height: 35px;
  margin-right: 10px;

  @media(min-width: 720px) {
    margin-right: 40px;
  }
}

.mailIcon {
  height: 30px;
}

.homeIcon {
  height: 30px;
}

.gymInfo {
  font-weight: 700;
  margin-top: 12px;
}

.rightArrow {
  border: solid #d4d4d4;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(-45deg);
  position: absolute;
  right: 20px;
}

.englishOpportunity {
  margin-top: 12px;
  line-height: 20px;
}

.map {
  padding-right: 0;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    filter: brightness(1.03);
  }

  @media(min-width: 960px) {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 0;
  }
}

.mapImage {
  height: 400px;
  width: 100%;

  @media(min-width: 720px) {
    height: auto;
    width: 100%;
  }

  @media(min-width: 960px) {
    width: 100%;
  }
}
