.offer {
  margin-top: 60px;
}

.content {
  margin-top: 40px;
  padding: 30px 50px;
}

.firstBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: -8px;
  position: relative;
  text-align: center;

  & .dumbellIcon {
    height: 65px; 
    width: 65px;
  }
}

.secondBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  & .runningIcon {
    height: 50px;
    width: 35px;
    left: 43px;
    top: 15px;
    position: absolute;
  }
}

.thirdBox {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 25px;

  & .plateIcon {
    height: 60px;
    width: 60px;
    left: 43px;
    top: 15px;
    position: absolute;
  }

  & .diet {
    position: relative;
    top: 5px;
  }
}

.fourthBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  & .messageIcon {
    height: 60px;
    width: 60px;
    left: 30px;
    bottom: 17px;
    position: absolute;
  }

  & .message {
    position: relative;
    top: -10px;
    right: -15px;
  }
}

.boxDescription {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
