.footer {
  min-height: 160px;
  background-color: #191616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  color: #746d6d;
  padding-top: 30px;
  padding-bottom: 30px;

  @media(min-width: 720px) {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.copyrightInfo {
  color: #bab7b7;
  text-align: center;
  margin-bottom: 24px;

  @media(min-width: 720px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.copyrightText {
  font-size: 18px;
  display: block;
}

.footerNavigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media(min-width: 720px) {
    text-align: right;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.navItem {
  margin-bottom: 8px;
  
  & > span {
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
    color: #a29e9e;

    &:hover {
      border-bottom: 2px solid #a29e9e;
    }
  }

  &:last-child {
    margin-bottom: 0; 
  }
}

.backToTop {
  width: 60px;
  height: 60px;
  background-color: #2e2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  cursor: pointer;
  transition: background 0.3s;

  @media(min-width: 720px) {
    margin-top: 0;
    margin-left: 40px;
  }

  &:hover {
    background-color: #352f2f;

    & .arrowUp {
      border-bottom-color: #716d6d;  
    }
  }
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #676565;
  transition: border 0.3s;
}
