.reviews {
  margin-top: 60px;
}

.reviewsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  margin-top: 40px;
  padding: 30px 50px;
  align-items: center;
  min-height: 500px;
  width: 90%;

  @media(min-width: 720px) {
    min-height: 400px;
    width: 700px;
  }
}

.link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #dada0f;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 16px;
  line-height: 20px;
  color: #d4d4d4;
  padding: 20px 20px 0 20px;
  max-width: 500px;
  font-weight: bold;
  text-align: center;
}
