.logo {
  display: flex;
  align-items: center;
}

.logoText {
  color: #d4d4d4;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  @media(min-width: 720px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.logoImage {
  background-image: url('./images/mountain.svg');
  background-repeat: no-repeat;
  margin-left: 8px;
  height: 15px;
  width: 30px;

  @media(min-width: 720px) {
    height: 20px;
    width: 40px;
  }
}
