.labeledSlope {
  text-align: center;

  @media(min-width: 720px) {
    text-align: left;
  }
}

.slope {
  background-color: #D8CB96;
  clip-path: polygon(0 0, 0% 100%, 100% 98%);
  height: 25px;
  margin-top: 4px;

  @media(min-width: 720px) {
    height: 30px;
    margin-top: 8px;
  }
}

.label {
  color: #D4D4D4;
  font-size: 20px;
  font-weight: 700;
  padding: 0 16px;

  @media(min-width: 720px) {
    font-size: 26px;
    margin-left: 40px;
  }
}

.downArrow {
  border: solid #d4d4d4;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
  position: relative;
  bottom: 2px;
}
