.headerBackdrop {
    position: relative;
    background-image: url('./images/backdropImage.jpg');
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media(min-width: 720px) {
      height: 300px;
    }

    @media(min-width: 1200px) {
      height: 350px;
    }
}

.helpButton {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #8e8c8c;
  background-color: rgba(0, 0, 0, 0.4);
  color: #d4d4d4;
  padding: 10px 15px;
  font-size: 26px;
  position: relative;
  bottom: -24px;
  z-index: 40;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: #e4d9d9;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #d0c9c9;
  }
  
  @media(min-width: 720px) {
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    left: 18%;
  }

  @media(min-width: 960px) {
    font-size: 24px;
  }

  @media(min-width: 1200px) {
    font-size: 26px;
  }
}

.backdroupContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media(min-width: 720px) {
    display: block;
  }
}

.welcomePhoto {
    background-image: url('./images/portrait4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 130px;
    height: 180px;
    right: 60px;
    bottom: -2px;

  @media(min-width: 720px) {
    width: 200px;
    height: 280px;
    right: 110px;
    bottom: 10px;
  }

  @media(min-width: 1200px) {
    font-size: 26px;
    width: 210px;
    height: 310px;
    right: 120px;
    bottom: 20px;
  }
}

.underHeaderCurve {
  display: none;
  position: absolute;
  height: 101px;
  width: 100%;
  background-color: #242121;
  bottom: -1px;
  clip-path: polygon(100% 0%, 100% 0%, 100% 17%, 100% 0%, 100% 0%, 98% 14%, 92% 36%, 81% 60%, 77% 64%, 73% 69%, 70% 73%, 66% 78%, 64% 80%, 61% 83%, 58% 85%, 54% 88%, 49% 90%, 45% 93%, 41% 95%, 30% 96%, 8% 98%, 0 99%, 100% 101%);

  @media(min-width: 720px) {
    display: block;
  }
}

.headerBackdropContainer {
  position: relative;
}
