.textContainer {
  color: #d4d4d4;
  width: 100%;
  @media(min-width: 720px) {
    width: 55%;
  }
}

.heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;

  @media(min-width: 1200px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.description {
  font-size: 12px;
  line-height: 16px;
  @media(min-width: 720px) {
    font-size: 13px;
    line-height: 18px;
  }

  @media(min-width: 1200px) {
    font-size: 14px;
    line-height: 20px;
  }
}
