.gallery {
  margin-top: 60px;
  margin-bottom: 60px;
}

.content {
  margin-top: 40px;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & a:nth-child(n+5) {
    display: none;

    @media (min-width: 720px) {
      display: block;
    }
  }
}

.thumb {
  width: 300px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.vertical {
  height: 266px;
  width: 200px;
}

.showMore {
  color: #d4d4d4;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.2s;

  &:hover {
    color: #fdfdfd; 
  }

  @media (min-width: 720px) {
    display: none; 
  }
}

.showLess {
  display: none;
}

.input {
  position: absolute;
  display: none;
}

.input:checked {
  & ~ .content a:nth-child(n+5) {
    display: block;
  }
  
  & ~ .showMore {
    display: none;
  }

  & ~ .showLess {
    display: block;

    @media (min-width: 720px) {
      display: none; 
    }
  }
}

.galleryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
