.header {
  height: 100px;
  background-color: #191616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
     
  @media (min-width: 720px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.hamburgerInput {
  position: absolute;
  left: -99999px;
  top: -9999px;
  &:checked ~ .header .navigation .navigationMenu {
    background-color: #000000;
    transition: opacity 0.3s;
    pointer-events: initial;
    opacity: 1;
    height: calc(100% - 100px);
    width: 100%;
    left: 0;
    top: 100px;
    flex-direction: column;
    align-items: center;
    
    & .item {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  &:checked ~ .header .navigation .navigationMobile .hamburgerImage {
    background-image: url('./images/cross.png');
  }

  &:checked ~ .header {
    position: sticky;
    top: 0;
    z-index: 300;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.item {
  font-size: 16px;
  font-weight: bold;
  color: #d4d4d4;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
  margin-left: 28px;

  &:first-child {
    margin-left: 0;   
  }

  &:hover {
    border-bottom: 2px solid #d4d4d4;
  }
}

.navigationDesktop {
  display: none;

  @media (min-width: 720px) {
    display: flex;
  }
}

.navigationMobile {
  height: 24px;
  cursor: pointer;

  @media (min-width: 720px) {
    display: none;
  }
}

.navigationMenu {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 100;
}

.hamburgerImage {
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url('./images/hamburger.png');
  background-repeat: no-repeat;
  background-size: contain;
}
