.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;

  @media(min-width: 720px) {
    flex-direction: row;
    align-items: initial;
    justify-content: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.reverted {
  @media(min-width: 720px) {
    flex-direction: row-reverse;
    & .nameBox {
      margin-right: 0; 
      margin-left: 50px;
    }

    & .arrowRight{
      display: none;

      @media(min-width: 720px) {
        display: block;
        width: 0; 
        height: 0; 
        border-top: 25px solid transparent;
        border-bottom: 8px solid transparent;
        
        border-left: 30px solid #312D2D;
        position: absolute;
        top: 50px;
        right: -30px;
      }
    }

    & .arrowLeft {
      display: none; 
    }
  }
}

.nameBox {
  position: relative;
  background-color: #1d1c1c;
  padding: 10px 25px;
  width: 150px;
  height: 100px;
  color: #d4d4d4;
  box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.30);

  &::after {
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url('../../../../images/background.png');
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.3;
  }

  @media(min-width: 720px) {
    margin-right: 50px;
  }
}

.nameWrapper {
  display: flex;
  justify-content: flex-end;
}

.descriptionBox {
  background-color: #312D2D;
  padding: 25px 35px;
  width: auto;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #312D2D;

  @media(min-width: 720px) {
    display: none;
  }
}

.descriptionContainer {
  position: relative;
  width: 100%;

  @media(min-width: 720px) {
    width: 55%;
  }
}

.arrowLeft {
  @media(min-width: 720px) {
    position: absolute;
    top: 50px;
    left: -30px;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-right: 30px solid #312D2D; 
    border-bottom: 25px solid transparent; 
  }
}
