.appContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000000;
  overflow-x: hidden;

  &::after {
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 10%;
    opacity: 0.3;
    filter: blur(1px);
  }
}

.main {
  width: 100%;
  max-width: 1185px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #242121;
  z-index: 1;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, .90);
}


/* carousel */
:global(.tns-nav) {
  text-align: center;
  margin: 10px 0;
}
:global(.tns-nav > button) {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

:global(.tns-nav > .tns-nav-active) { background: #999; }

:global(iframe) {
  width: 100%;
  height: 500px;

  @media(min-width: 720px) {
    height: 400px;
  }
}
