.imageWithDescription {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 44px;

  @media(min-width: 720px) {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.image {
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  margin-right: 24px; 
  margin-top: 24px;
  @media(min-width: 720px) {
    margin-top: 0;
  }
}

.reverted {
  @media(min-width: 720px) {
    flex-direction: row-reverse;
    & .image {
      margin-right: 0; 
      margin-left: 24px; 
    }
  }
}

.vertical {
  width: 400px;
  height: 532px;
}
